* {
  background-color: #857b4d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

img {
  height: 350px;
  width: 500px;
  border-radius: 10px;
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  margin: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
}

#servicesForm {
  display: flex;
  flex-direction: column;
}
